<!DOCTYPE html>
<html>
<head style="background-color: #363636;">
    <title>Embedding Vega-Lite</title>
    <script src="https://cdn.jsdelivr.net/npm/vega@5.9.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.0.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.2.1"></script>

</head>
<body style="background-color: #363636;">

<div id="vis"></div>

<script>
    var yourVlSpec =
        {
            "$schema": "https://vega.github.io/schema/vega-lite/v4.json",
            "width": 1100,
            "height": 500,
            "view": {

            },
            "data": {
                "url": "data/londonBoroughs.json",
                "format": {
                    "type": "topojson",
                    "feature": "boroughs"
                }
            },
            "transform": [{
                "lookup": "id",
                "from": {
                    "data": {"url": "data/ethnicGroups.json"},
                    "key": "Area",
                    "fields": ["FT workers annual Median", "FT workers annual Mean", "Male FT weekly", "Female FT weekly", "All FT weekly", "all workers"]
                }
            }],

            "title": {
                "text": "Londons earnings",
                "fontSize": 50,
                "font": "Times New Roman"
            },

            "mark": {
                "type": "geoshape",
                "stroke": "white",
                "strokeWidth": 2,
            },
            "encoding": {
                "tooltip": [{
                    "field": "id",
                    "type": "nominal",
                    "title": "Borough"
                }],
                "color": {
                    "field": "Male FT weekly",
                    "type": "quantitative",
                    "scale": {"scheme": "Oranges"},
                }
            },
        }

    ;
    vegaEmbed('#vis', yourVlSpec);

</script>
</body>
</html>