<!DOCTYPE html>
<html>
<head>
    <title>Embedding Vega-Lite</title>
    <script src="https://cdn.jsdelivr.net/npm/vega@5.9.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.0.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.2.1"></script>
    <script src="https://public.tableau.com/javascripts/api/tableau-version.min.js"></script>

</head>
<body>

<!--tableau Part:.-->

<!--<div class='tableauPlaceholder' id='viz1577972275029' style='float: left'>-->
<!--<noscript><a href='#'><img alt=' '-->
<!--src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;FH&#47;FHMQGQJ68&#47;1_rss.png'-->
<!--style='border: none'/></a></noscript>-->
<!--<object class='tableauViz' style='display:none;'>-->
<!--<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F'/>-->
<!--<param name='embed_code_version' value='3'/>-->
<!--<param name='path' value='shared&#47;FHMQGQJ68'/>-->
<!--<param name='toolbar' value='yes'/>-->
<!--<param name='static_image'-->
<!--value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;FH&#47;FHMQGQJ68&#47;1.png'/>-->
<!--<param name='animate_transition' value='yes'/>-->
<!--<param name='display_static_image' value='yes'/>-->
<!--<param name='display_spinner' value='yes'/>-->
<!--<param name='display_overlay' value='yes'/>-->
<!--<param name='display_count' value='yes'/>-->
<!--<param name='filter' value='publish=yes'/>-->
<!--</object>-->
<!--</div>-->
<!--<script type='text/javascript'>                    var divElement = document.getElementById('viz1577972275029');-->
<!--var vizElement = divElement.getElementsByTagName('object')[0];-->
<!--if (divElement.offsetWidth > 800) {-->
<!--vizElement.style.width = '600px';-->
<!--vizElement.style.height = '1600px';-->
<!--} else if (divElement.offsetWidth > 500) {-->
<!--vizElement.style.width = '1000px';-->
<!--vizElement.style.height = '1827px';-->
<!--} else {-->
<!--vizElement.style.width = '100%';-->
<!--vizElement.style.height = '777px';-->
<!--}-->

<!--var scriptElement = document.createElement('script');-->
<!--scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';-->
<!--vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>-->
<!--tableau end:.-->


<!--Vega Part:.-->

<div id="vis"></div>

<script>
    var yourVlSpec =
        {
            "$schema": "https://vega.github.io/schema/vega-lite/v4.json",

            "description": "duh",
            "width": 500, "height": 300,

            vconcat: [{
                "repeat": {
                    "column": ["Black", "Asian", "White", "Mixed/ Other"],
                    "row": ["Male FT weekly", "Female FT weekly"]
                },
                "spec": {
                    "data": {
                        "url": "data/ethnicGroups.json"
                    },
                    "transform": [{"calculate": "year(datum.Year)", "as": "Year"},
                        {
                            "lookup": "Area",
                            "from": {
                                "data": {
                                    "url": "data/us-10m.json",
                                    "format": {
                                        "type": "topojson",
                                        "feature": "boroughs"
                                    }
                                },
                                "key": "id"
                            },
                            "as": "geo"
                        }

                    ],
                    "mark":
                        "point",
                    "selection":
                        {
                            "Year":
                                {
                                    "type":
                                        "single",
                                    "fields":
                                        ["Year"],
                                    "bind":
                                        {
                                            "Year":
                                                {
                                                    "input":
                                                        "range", "min":
                                                        2012, "max":
                                                        2018, "step":
                                                        1
                                                }
                                        }
                                }
                            ,
                            "brush":
                                {
                                    "type":
                                        "interval",
                                    "resolve":
                                        "union",
                                    "on":
                                        "[mousedown[event.shiftKey], window:mouseup] > window:mousemove!",
                                    "translate":
                                        "[mousedown[event.shiftKey], window:mouseup] > window:mousemove!",
                                    "zoom":
                                        "wheel![event.shiftKey]"
                                }
                            ,
                            "grid":
                                {
                                    "type":
                                        "interval",
                                    "resolve":
                                        "global",
                                    "bind":
                                        "scales",
                                    "translate":
                                        "[mousedown[!event.shiftKey], window:mouseup] > window:mousemove!",
                                    "zoom":
                                        "wheel![!event.shiftKey]"
                                }
                        }
                    ,
                    "encoding":
                        {
                            "x":
                                {
                                    "field":
                                        {
                                            "repeat":
                                                "column"
                                        }
                                    ,
                                    "type":
                                        "quantitative"
                                }
                            ,
                            "y":
                                {
                                    "field":
                                        {
                                            "repeat":
                                                "row"
                                        }
                                    ,
                                    "type":
                                        "quantitative",
                                    "axis":
                                        {
                                            "minExtent":
                                                40
                                        }
                                }
                            ,
                            "color":
                                {
                                    "condition":
                                        {
                                            "selection":
                                                "Year",
                                            "field":
                                                "Area", "type":
                                                "nominal"
                                        }
                                    ,

                                    "value":
                                        ""
                                }
                        }
                }
            }, {
                "data": {
                    "url": "data/londonBoroughs.json",
                    "format": {
                        "type": "topojson",
                        "feature": "boroughs"
                    }
                },
                "mark": {
                    "type": "geoshape",
                    "stroke": "white",
                    "strokeWidth": 2
                },
                "encoding": {
                    "color": {
                        "value": "#eee"
                    }
                }
            }]


        }

    ;
    vegaEmbed('#vis', yourVlSpec);

</script>
</body>
</html>


<!--vconcat: [{-->

<!--"selection": {-->
<!--"picked": {-->
<!--"type": "single",-->
<!--"fields": ["Year"],-->
<!--"bind": {-->
<!--"Year": {"input": "range", "min": 2012, "max": 2018, "step": 1},-->
<!--}-->
<!--}-->
<!--},-->
<!--"mark": "circle",-->
<!--"encoding": {-->
<!--"y": {-->
<!--"field": "All FT weekly",-->
<!--"type": "quantitative",-->
<!--"scale": {"zero": true},-->
<!--"axis": {"minExtent": 30}-->
<!--},-->
<!--"x": {-->
<!--"field": "White",-->
<!--"type": "quantitative",-->
<!--"scale": {"type": "log"}-->
<!--},-->
<!--"color": {"field": "Area", "type": "nominal"}-->
<!--},-->
<!--"size": {-->
<!--"condition": {"selection": "CylYr", "value": 100},-->
<!--"value": 50-->
<!--}-->
<!--},-->
<!--{-->
<!--"selection": {-->
<!--"picked": {-->
<!--"type": "single",-->
<!--"fields": ["Year"],-->
<!--"bind": {-->
<!--"Year": {"input": "range", "min": 2012, "max": 2018, "step": 1},-->
<!--}-->
<!--}-->
<!--},-->
<!--"mark": "circle",-->
<!--"encoding": {-->
<!--"y": {-->
<!--"field": "All FT weekly",-->
<!--"type": "quantitative",-->
<!--"scale": {"zero": true},-->
<!--"axis": {"minExtent": 30}-->
<!--},-->
<!--"x": {-->
<!--"field": "Black",-->
<!--"type": "quantitative",-->
<!--"scale": {"type": "log"}-->
<!--},-->
<!--"color": {"field": "Area", "type": "nominal"}-->
<!--},-->
<!--"size": {-->
<!--"condition": {"selection": "CylYr", "value": 100},-->
<!--"value": 50-->
<!--}-->

<!--},-->
<!--{-->

<!--"selection": {-->
<!--"picked": {-->
<!--"type": "single",-->
<!--"fields": ["Year"],-->
<!--"bind": {-->
<!--"Year": {"input": "range", "min": 2012, "max": 2018, "step": 1},-->
<!--}-->
<!--}-->
<!--},-->
<!--"mark": "circle",-->
<!--"encoding": {-->
<!--"y": {-->
<!--"field": "All FT weekly",-->
<!--"type": "quantitative",-->
<!--"scale": {"zero": true},-->
<!--"axis": {"minExtent": 30}-->
<!--},-->
<!--"x": {-->
<!--"field": "Asian",-->
<!--"type": "quantitative",-->
<!--"scale": {"type": "log"}-->
<!--},-->
<!--"color": {"field": "Area", "type": "nominal"}-->
<!--},-->
<!--"size": {-->
<!--"condition": {"selection": "CylYr", "value": 100},-->
<!--"value": 50-->
<!--}-->
<!--},-->
<!--{-->
<!--"selection": {-->
<!--"picked": {-->
<!--"type": "single",-->
<!--"fields": ["Year"],-->
<!--"bind": {-->
<!--"Year": {"input": "range", "min": 2012, "max": 2018, "step": 1},-->
<!--}-->
<!--}-->
<!--},-->
<!--"mark": "circle",-->
<!--"encoding": {-->
<!--"y": {-->
<!--"field": "All FT weekly",-->
<!--"type": "quantitative",-->
<!--"scale": {"zero": true},-->
<!--"axis": {"minExtent": 30}-->
<!--},-->
<!--"x": {-->
<!--"field": "Mixed/ Other",-->
<!--"type": "quantitative",-->
<!--"scale": {"type": "log"}-->
<!--},-->
<!--"color": {"field": "Area", "type": "nominal"}-->
<!--},-->
<!--"size": {-->
<!--"condition": {"selection": "CylYr", "value": 100},-->
<!--"value": 50-->
<!--}-->

<!--}-->
<!--]-->